{% load static %}
<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <link rel="stylesheet" href = "{%static 'myapp/style.css'%}">
</head>
<body>
    <div class="main-content" style="background-image: linear-gradient(to right top, #90c2f8, #9abdff, #aab5ff, #c0adff, #d7a2fc);">
        <div style="position:absolute; left:86%; top:1%;">
            <button style="width: 8.4rem;
            height: 3rem;
            background-color: #f3eded;
            border: none;"><a href="home" style="text-decoration:none;">LOGOUT</a></button>
        </div>
         <div class="body-content">
            <img src="{% static 'myapp/img1.jpg' %}" alt="">
            <div class="racks" style="background-color:#fff">
                {% comment %} {% for feature in features %} {% endcomment %}
                <a href="rack1" style="background-color:#90c2f8"><button style="background-color:#90c2f8">Rack1</button></a>
                <a href="rack2" style="background-color:#90c2f8"><button style="background-color:#90c2f8">Rack2</button></a>
                <a href="rack3" style="background-color:#90c2f8"><button style="background-color:#90c2f8">Rack3</button></a>
                <a href="rack4" style="background-color:#90c2f8"><button style="background-color:#90c2f8">Rack4</button></a>
                <a href="rack5" style="background-color:#90c2f8"><button style="background-color:#90c2f8">Rack5</button></a>
                <a href="scanner" style="background-color:#90c2f8"><button style="background-color:#90c2f8">Scan</button></a>
                {% comment %} {% endfor %} {% endcomment %}
            </div>
        <!-- </div> -->
    </div>
</body>
</html>