body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.main-content {
    width:35%;
    margin: 15% auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header h2 {
    color: #333;
}

.form-body {
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
}

.input-box input {
    width: 100%;
    padding: 10px 40px 10px 30px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media(max-width:700px){
    /* body{
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .main1{
        margin: 30% 5%;
        padding:0;
    }
    .main-content{
        width: 60%;
        margin: 15% auto;
    }
}

@media (max-width: 460px){
    .main1{
        margin: 40% 5%;
        padding:0;
    }
    .main-content {
        width: 80%;
        margin:auto;
    }
}
