*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.main-content{
    background-image: linear-gradient(to left, #464681, #505095, #5b5baa, #6666bf, #7171d4);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.body3-content{
    background-color: #ffffff;
    height: 80vh;
    width:80vw;
    position: relative;
    left:1%;
    border-radius: 2%;
    display: flex;
    flex-direction: row;
}
.body-content{
    background-color: #557cf4;
    height: 80vh;
    width:14vw;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.body-content button{
    width: 100%;
    height: 200%; 
    background-color:#557cf4;
    border: none;  
    font-size: 3rem;
    color: #ffffff; 
}
.body-content .btn{
    background-color: #ffffff;
    color: #557cf4;
    width: 16rem;
}
.body1-content{
    height: 80vh;
    width:66vw;
    border-radius: 2%;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.body2{
    background-color:#698efd ;
    width: 66vw;
    height: 10.1rem;
}
.body2 button{
    position: relative;
    left: 80%;
    top: 25%;
    width: 12rem;
    height: 6rem;
    background-color: #698efd;
    border: none;
    font-size: 2.5rem;
    color: #ffffff;
}
.body2 button:hover{
    color: #698efd;
    background-color: #ffffff;
    border-radius: 10%;
}
.body3{
    width: 66vw;
    height: 70rem;
}
.body3 table{
    width: 100%;
    height: 100%;
}
th{ 
    text-align: center;
    border-right: .2rem solid rgb(139, 177, 248);
}
tr:nth-child(even) {
    background-color:#95afff;
    color: #011a3a;
}
td{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}